@charset "utf-8";

* {
  padding: 0px;
  margin: 0px;
}

$LoginBackGround: rgb(32, 37, 69); //登陆页面主颜色
$ChatBackGround: rgb(213, 141, 48); //聊天页面背景主题颜色
$answerBackGround:rgba(172, 225, 241, 1); //答题页面主题颜色

/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 8px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(213, 141, 48, 0.2);
}