<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.ielp.app.mapper.AdminMapper">

    <select id="login" resultType="com.company.ielp.app.model.Admin">
        SELECT * FROM `admin` WHERE admin_name = #{accNumber} AND pass_word = #{passWord}
    </select>
    
    <select id="isAdminExist" resultType="com.company.ielp.app.model.Admin">
        SELECT * FROM `admin` WHERE admin_name = #{adminName}
    </select>

    <select id="lastAdmin" resultType="com.company.ielp.app.model.Admin">
        SELECT id FROM `admin` ORDER BY id DESC LIMIT 1
    </select>

</mapper>