@import "@scss/_global.scss";
* {
  padding: 0px;
  margin: 0px;
}
.Chatbody {
  height: 100vh;
  width: 100vw;
  background-color: $ChatBackGround;
  overflow: hidden;
}

.chatBox {
  height: 80vh;
  // margin-top: 10vh;
  width: 100%;
  background-color: #fff;
  border-radius: 20px;

  .titleLine {
    height: 10%;
    width: 100%;
    background-color: #e7a146;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    justify-content: flex-end;
    .userInfo {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      color: #fff;
      font-weight: 600;
    }
  }
  .tab{
    background-color: #e7a146;
    height: 90%;
  }
  .chatPage {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    .friendList{
      height: 66vh;
      width: 20%;
      background-color: #fff;
    }
    .messageLine{
      height: 100%;
      width: 100;
      background-color: rgba(238, 238, 238, 1);
      overflow: scroll;
      
      .userInfo{
        width: 100%;
        border-bottom: 1px solid #999;
        padding: 10% 10%;
        margin-left: 5%;
        display: flex;
        flex-direction: row;
        align-items: center;
        .userName{
          width: 60%;
          overflow:hidden;
          overflow-x: hidden;
          text-overflow:ellipsis;
          display:-webkit-box;
          -webkit-box-orient:vertical;
          -webkit-line-clamp:2;
          font-size: 18px;
          font-weight: 600;
        }
      }
    }
    .chatContainer{
      height: 66vh;
      width: 60%;
      background-color: #fff;
      border-right: 1px solid #efefef;
      .chatWindow{
        height: 75%;
        width: 100%;
        border-bottom:1px #efefef solid;
      }
    }
    .chatObject{
      height: 66vh;
      width: 20%;
      background-color: #fff;
    }
  }
}

.demo_infinite_container {
  height: 300px;
  padding: 8px 24px;
  overflow: auto;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}
.demo_loading_container {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}