@import "@scss/_global.scss";

.forum {
  .section{
    display: flex;
    flex-direction: row;
  }
  .mainBody{
    width: 97%;
    min-height: 110px;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: -60px;
    box-shadow: 1px 1px 17px 0px #663737;
    padding: 15px 35px;
    .userName{
      font-size: 20px;
      margin-left: 25px;
    }
    .text{
       margin-left: 25px;
    }
  }
  :global {
    .ant-avatar-image {
      border: 5px solid #e65054;
    }

    .ant-avatar>img {
      border-radius: 50%;
    }
  }
}