<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ielp.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.ielp.pojo.User">
    <id column="id" property="id" />
    <result column="username" property="username" />
    <result column="password" property="password" />
    <result column="name" property="name" />
    <result column="tel" property="tel" />
  </resultMap>

  <select id="selectUserList" resultMap="BaseResultMap">
    select * from user
  </select>

</mapper>